:host {
  display: block;
  }
  *{
    display: flex;
  }
  a{
    text-decoration: none;
    padding: 1em 1em 1em 0em;
  }
  h2{
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
  }
  ul{
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
  }
  li{
    width: 19em;
    border-bottom: 1px solid #dcdcdc;
  }
  .content{
    flex-direction: column;
    margin: 0px !important;
    
  }
  p.title{
    margin-bottom: 0px;
    color: #2F2F2F;
    font-weight: bold;
    
  }
  p.description{
    color: #b4b4b4;
    margin-top: 0px;
    font-size: 15px;
  }

  //FontAwesome soon
  img{
    width: auto;
    height: 35px;
    padding: 1em;
  }

  @media screen and (max-width:740px){
    li{
      width: 100%;
    }
}
@media screen and (max-width:945px){
  ul{
    justify-content: space-around;

  }
}