:host{
    display: block;
    float: right;
}
.popular{
    background-color: #D0D0D0;
}
.popular h3{
    padding: 1em 1em 0em 1em;
}
ul {
    list-style: none;
    padding: 0em 1em 1em 1em;
    margin: 0;
}
.support{
    background-color: #D0D0D0;
}
.support p{
    padding: 1em;
}
