<div class="popular">
    <h3>Popular Articles</h3>
    <ul>
        <li><a href="">How to create an account</a></li>
        <li><a href="">How Does the 30 day Money Back Guarantee Work?</a></li>
        <li><a href="">How our pricing plans work</a></li>
        <li><a href="">How can i edit my already existing page?</a></li>
        <li><a href="">Best practises for account security</a></li>
    </ul>
</div>
<br>
<div class="support">
    <h3><b>Need support?</b><br></h3>
    <p>Can't find the answer you're looking for? Don't worry we're here to help!</p>
        <button>CONTACT SUPPORT</button>
</div>