<div class="popular">
    <h3>Popular Articles</h3>
    <ul>
        <li>How to create an account</li>
        <li>How Does the 30 day Money Back Guarantee Work?</li>
        <li>How our pricing plans work</li>
        <li>How can i edit my already existing page?</li>
        <li>Best practises for account security</li>
    </ul>
</div>

<div class="support">
    <h3><b>Need support?</b><br></h3>
    <p>Can't find the answer you're looking for? Don't worry we're here to help!</p>
        <button>CONTACT SUPPORT</button>
</div>